language: python
cache: pip
sudo: false
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - 3.7-dev
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
install:
  - pip install -U pip six setuptools coverage
  - python setup.py install
script: make coverage
after_success:
  - bash < (curl -s https://codecov.io/bash)
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
